* { box-sizing: border-box; }

body {
    background-color: #282828;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}


input {
    color: #fdfdfd;
    background-color: #121212;
    border: none;
    outline: none !important;
    font-size: 1.3em;
    padding: 8px 10px;
}

.materials-container {
    display: flex;
    flex-direction: column;
    /* width: 450px; */
    width: 100%;
}

.materials-container input {
    width: 100%;
}

.materials {
    display: flex;
    /* max-height: 80vh; */
    overflow: auto;
    width: 100%;
    color: #ffffff;
    overflow: auto;
    min-height: 15vh;
}

.engineer-recipies {
    min-height: 300px;
    overflow: auto;
}

.materials>div {
    width: 100%;
}

.materials > div > div {
    display: flex;
    width: 100%;
}

.materials > div > div > span:last-child {
    margin-left: auto;
}

.materials > div > div {
    display: none;
    align-items: center;
}

.materials .found {
    color: #ff0044;
    display: flex;
    font-size: 1.3em;
}

.materials.no-search .found {
    color: #ffffff;
}

.mat-category {
    /* width: 10px; */
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    /* font-size: 0.8em; */
    padding: 3px;
}

.Raw {
    background: #7a2020;
}
.Encoded {
    background: #3333aa;
}
.Manufactured {
    background: #174e17;
}

.material-item {
    padding: 2px;
}

.mat-name {
    padding: 0 10px;
}

.waiting-for-event {
    padding: 10px;
}

.bp-group {
    padding: 10px 5px;
    border: 1px solid #000000;

}

.blueprint {
    padding: 5px 5px;
    color: #ffffff;
}



.found-in-search,
.name-found-in-search,
.type-found-in-search {
    background-color: #223344;
}

.hide {
    display: none;
}

.ingredents-found {
    display: block;
    /* background: #ff0000; */
}

.bp-name {
    display: block;
    font-size: 16px;
}

.bp-type {
    display: block;
    font-size: 20px;
}

.ingredientItem {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: 0 10px;
}
.ingredientItem > span:last-child {
    margin-left: auto;
}

.green {
    color: #00BFFF;
}

.red {
    color: #990a0a;
}

.grey {
    color: rgba(149, 149, 149, 0.6)
}

.yellow {
    color: #ffe100;
}